.container {
    display: flex;
    gap: 1px;
}


.columns {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width:25%;

}


.items {
    display: flex;
    background-color:rgb(89, 179, 214);
    border-color: black;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    flex: 1 0 auto;
    height:auto;
}

.items:before {
    content: '';
    float:left;
    padding-top: 100%;
}
