.container {
    display: flex;
    width: 100%;
    gap: 10px;
}


.rows {
    display: flex;
    flex-direction: column;
    width:50%;
    background-color: blue;

}


.columns {
    
    background-color:blue;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.flexBoxes {
    flex: 1;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    max-width: 20px;
    clear: both;
  }
